*{
    margin: 0;
    padding: 0;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
/*Start nav*/

#nav-top{
    background: linear-gradient(to top left, #cc0066 4%, #ff0066 100%);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    padding-right: 90px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    padding-right: .5rem;
    padding-left: .5rem;
    padding-right: 90px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/*slider section*/
#carusel{
    width: 100%;
    height: 400px;
}
#carusel img{
    width: 100%;
    height: 400px;
}
#carusel h5{
    font-size: 40px;
    color: crimson;
    font-weight: bold;
}
#carusel p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width:500){
    #carusel{
        height: 100px;
    }
    #carusel img{
        height: 100px;
    }
}
/*noman section*/
#noman-text h2{
    font-weight: bold;
    
    font-size: 40px;
    margin-top: 80px;
}
#noman-text p{
    font-size: 20px;
    margin-top: 10px;
}
@media only screen and (max-width:834px) {
    #noman-text h2{
        margin-top: 0;
        font-size: 35px;
    }
    #noman-img{
        margin-top: 35px;
    }
}
@media only screen and (max-width:768px) {
    #noman-img img{
        margin: 0 auto;
        margin-right: 20px;
    }
    #noman-text h2{
        margin-top: 0;
        font-size: 10px;
    }
    #noman-img img{
        margin-top: 75px;
    }
}
@media only screen and (max-width:1172px) {
    #noman-text h2{
        margin-top: 60px;
        font-size: 35px;
    }
    #noman-img{
        margin-top: 35px;
    }
}
@media only screen and (max-width:500px){
    #noman-img img{
        margin-top: 0;
    }
}
#love{
    background:linear-gradient(to top left, #942a54 4%, #9e1e51 100%);;
}
#lh-text h2{
    font-weight: bold;
    color: white;
    font-size: 45px;
}
#lh-text p{
    color: white;
    font-size: 20px;
}
/*love part*/

#love-item #icon{
    font-size: 95px;
}
#love-item h2{
    font-weight: 800;
}
#love-item p{
    text-align: inherit;
    font-size: 20px;
}
#mysel h2{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}
#mysel p{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 20px;
}
@media only screen and (max-width:500px) {
    #mysel p{
        margin-bottom: 0;
        font-size: 15px;
    }
    #mysel h2{
        font-size: 30px;
    }
}

/*crisel Start*/

#hc-text h2{
    font-size: 50px;
    font-weight: bold;
}
#hc-text{
    font-size: 20px;
}

#crisel-text h2{
    margin-top: 70px;
    font-weight: bold;
    font-size: 35px;
}
#crisel-text p{
    font-size: 22px;
}
#crisel-img{
    margin-top: 50px;
}

/*favourit video*/

#video{
    background: url(../img/crisel1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
#dark-overly{
    background:rgba(0,0,0,0.7);
    height: 300px;
}
#content #icon{
     font-size: 80px;
     margin-top: 30px;
     color: red;
     margin-top: 20px;
}
#content h2{
      font-weight: bold;
      margin-top: 0;
}
/*galary image*/

#galary h2{
      font-weight: bold;
}
#galary p{
    font-weight: bold;
}
#footer{
    background-color: black;
}